/* libre-baskerville-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/libre-baskerville-v14-latin-regular.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url("./fonts/libre-baskerville-v14-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* libre-baskerville-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/libre-baskerville-v14-latin-700.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url("./fonts/libre-baskerville-v14-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    box-sizing: border-box;
}

body {
    font-family:"Libre Baskerville", "Arial" , sans-serif ;
    margin: 0;
    padding: 0;
}

.container {
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #E5E5E5;
}

.header-slideshow {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 2.57143px;
    color: #7D7D7D;
    text-transform: uppercase;
    text-decoration: none;
}

.hero-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.name-of-pic {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}

.author-of-pic {
    margin: 0;
    padding-top: 7px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.75;
}

.grid-wrapper {
    display: grid;
    grid-template: repeat(7, 200px)/repeat(4, 310px);
    gap: 40px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 33px 33px 33px 32px;
    background-color: #0ff;
}

.grid-item:nth-child(1) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/starry_night.png);
}

.grid-item:nth-child(2) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/girl_with_pearl.png);
    grid-column: 2/3;
    grid-row: 1/3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.grid-item:nth-child(3) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/guernica.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item:nth-child(4) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/penitent.png);
    grid-column: 4/4;
    grid-row: 1/3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.grid-item:nth-child(5) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/thes_storm.png);
    grid-row: 2/4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.grid-item:nth-child(6) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/the-great-wave-off.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2/2;
}

.grid-item:nth-child(7) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/van_goh.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3/3;
    grid-row: 2/5;
}

.grid-item:nth-child(8) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/the-sleeping-gypsy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 4/4;
    grid-row: 3/3;
}

.grid-item:nth-child(9) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/lady-with-and-ermin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 4/7;

}

.grid-item:nth-child(10) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/nigt-cafe.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2/2;
    grid-row: 4/6;

}

.grid-item:nth-child(11) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/mona_lisa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3/4;
    grid-row: 5/7;

}

.grid-item:nth-child(12) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/the-basket-of-apples.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.grid-item:nth-child(13) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/the-boy-in-red.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 7/7;

}

.grid-item:nth-child(14) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/arnolofini-portrait.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2/2;
    grid-row: 6/8;

}

.grid-item:nth-child(15) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/the-sleeping-gypsy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3/3;
}

.grid-item:nth-child(16) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%), url(./images/the-swing.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 4/4;
    grid-row: 5/8;
}










